numpy>=1.16.6,<=1.23.1
opencv-python
scipy>=1.5.4,<1.9.0
openvino>=2022.3
openvino-dev>=2022.3
omz_tools @ git+https://github.com/Wovchena/open_model_zoo.git@dynamic-omz_tools#egg=omz_tools&subdirectory=tools/model_tools
