# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Precommit - Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Python-Code-Quality:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Create and start a virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate
    - name: Install dependencies
      run: |
        source venv/bin/activate
        pip install --upgrade pip
        pip install isort
        pip install black
    - name: Check style with black
      run: |
        source venv/bin/activate
        black --check .
    - name: Check style with isort
      run: |
        source venv/bin/activate
        isort --check .
  Python-Precommit:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Create and start a virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate
    - name: Install dependencies
      run: |
        source venv/bin/activate
        python -m pip install --upgrade pip
        pip install model_api/python/[tests]
    - name: Run test
      run: |
        source venv/bin/activate
        pytest tests/python/precommit
  CPP-Code-Quality:
    name: CPP-Code-Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
          
      - name: cppcheck
        uses: chmorgan/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          # missingInclude: cppcheck can't find stl, openvino, opencv
          other_options: --suppress=missingInclude -Imodel_api/cpp/models/include -Imodel_api/cpp/utils/include -Imodel_api/cpp/pipelines/include --check-config
  CPP-Precommit:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Create and start a virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate
    - name: Install dependencies
      run: |
        source venv/bin/activate
        python -m pip install --upgrade pip
        pip install model_api/python/[tests]

        sudo bash model_api/cpp/install_dependencies.sh
    - name: Prepare test data
      run: |
        source venv/bin/activate
        python tests/cpp/precommit/prepare_data.py -d data -p tests/cpp/precommit/public_scope.json
    - name: Build
      run: |
        mkdir build && cd build
        cmake ../tests/cpp/precommit/
        cmake --build . -j $((`nproc`*2+2))
    - name: Run test
      run: |
        build/test_sanity -d data -p tests/cpp/precommit/public_scope.json
  CPP-Windows-Precommit:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Temp
      shell: bash
      run: |
        curl https://github.com/opencv/opencv/releases/download/4.7.0/opencv-4.7.0-windows.exe --output opencv-4.7.0-windows.exe
        chmod +x opencv-4.7.0-windows.exe
        ls
    - name: extract
      shell: cmd
      run: |
        dir opencv-4.7.0-windows.exe
        .\opencv-4.7.0-windows.exe -oopencv -y
        ls
    - name: Temp2
      shell: bash
      run: |
        curl https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.3/windows/w_openvino_toolkit_windows_2022.3.0.9052.9752fafe8eb_x86_64.zip --output w_openvino_toolkit_windows.zip
        unzip w_openvino_toolkit_windows.zip
        rm w_openvino_toolkit_windows.zip
        mkdir build && cd build
        ls ../opencv/opencv/build
        cmake ../tests/cpp/precommit/ -DOpenVINO_DIR=../w_openvino_toolkit_windows_2022.3.0.9052.9752fafe8eb_x86_64/runtime/cmake -DOpenCV_DIR=../opencv/opencv/build
    - name: Create and start a virtual environment
      shell: bash
      run: |
        python -m venv venv
        source venv/Scripts/activate
    - name: Install dependencies
      shell: bash
      run: |
        source venv/Scripts/activate
        python -m pip install --upgrade pip
        pip install model_api/python/[tests]
        curl https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.3/windows/w_openvino_toolkit_windows_2022.3.0.9052.9752fafe8eb_x86_64.zip --output w_openvino_toolkit_windows.zip
        unzip w_openvino_toolkit_windows.zip
        rm w_openvino_toolkit_windows.zip
        curl https://github.com/opencv/opencv/releases/download/4.7.0/opencv-4.7.0-windows.exe --output opencv-4.7.0-windows.exe
        ./opencv-4.7.0-windows.exe -oopencv -y
    - name: Prepare test data
      shell: bash
      run: |
        source venv/Scripts/activate
        python tests/cpp/precommit/prepare_data.py -d data -p tests/cpp/precommit/public_scope.json
    - name: Build
      shell: bash
      run: |
        mkdir build && cd build
        cmake ../tests/cpp/precommit/ -DOpenVINO_DIR=../w_openvino_toolkit_windows_2022.3.0.9052.9752fafe8eb_x86_64/runtime/cmake -DOpenCV_DIR=../opencv/opencv/build
        cmake --build . -j $((`python -c "import os; print(os.cpu_count())"`*2+2))
    - name: Run test
      shell: bash
      run: |
        build/test_sanity -d data -p tests/cpp/precommit/public_scope.json
